In [4]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [5]:
store_1 = pd.read_csv('store_1_sales.csv')
store_1

,Date,Item Code,Category,Quantity Sold,Price,Total Sale
0,2023-09-01 10:32:00,101.0,Электроника,2.0,30000.0,60000.0
1,2023-09-01 11:45:00,202.0,Одежда,1.0,5000.0,5000.0
2,2023-09-02 14:20:00,101.0,Электроника,1.0,30000.0,30000.0
3,2023-09-03 13:00:00,303.0,Продукты,10.0,200.0,2000.0
4,2023-09-03 16:50:00,404.0,Бытовая техника,1.0,15000.0,15000.0
5,2023-09-04 12:15:00,202.0,Одежда,3.0,5000.0,15000.0
6,2023-09-04 15:30:00,404.0,Бытовая техника,1.0,15000.0,15000.0
7,2023-09-05 09:00:00,303.0,Продукты,5.0,200.0,1000.0
8,2023-09-06 17:30:00,505.0,Канцелярия,15.0,100.0,1500.0
9,2023-09-06 11:45:00,202.0,Одежда,NaN,5000.0,NaN
10,2023-09-07 12:45:00,101.0,Электроника,2.0,NaN,NaN
11,2023-09-08 14:20:00,303.0,NaN,10.0,200.0,2000.0
12,2023-09-08 16:00:00,NaN,NaN,5.0,5000.0,25000.0

In [6]:
store_2 = pd.read_csv('store_2_sales.csv')
store_2

,Date,Item Code,Category,Quantity Sold,Price,Total Sale
0,2023-09-01 12:10:00,101.0,Электроника,1,30000.0,30000.0
1,2023-09-01 13:45:00,202.0,Одежда,2,5000.0,10000.0
2,2023-09-02 11:00:00,404.0,Бытовая техника,1,15000.0,15000.0
3,2023-09-03 12:50:00,303.0,Продукты,5,200.0,1000.0
4,2023-09-03 17:30:00,505.0,Канцелярия,10,100.0,1000.0
5,2023-09-04 09:15:00,303.0,Продукты,20,200.0,4000.0
6,2023-09-04 13:50:00,101.0,Электроника,1,30000.0,30000.0
7,2023-09-05 14:35:00,202.0,Одежда,4,5000.0,20000.0
8,2023-09-06 18:20:00,404.0,Бытовая техника,1,15000.0,15000.0
9,2023-09-06 10:00:00,505.0,Канцелярия,20,NaN,NaN
10,2023-09-07 11:00:00,303.0,Продукты,15,200.0,3000.0
11,2023-09-07 14:10:00,404.0,Бытовая техника,1,NaN,15000.0
12,2023-09-08 13:00:00,NaN,NaN,10,1000.0,10000.0

In [7]:
store_3 = pd.read_csv('store_3_sales.csv')
store_3

,Date,Item Code,Category,Quantity Sold,Price,Total Sale
0,2023-09-01 09:20:00,202.0,Одежда,1.0,5000.0,5000.0
1,2023-09-02 14:15:00,505.0,Канцелярия,20.0,100.0,2000.0
2,2023-09-03 15:50:00,404.0,Бытовая техника,1.0,15000.0,15000.0
3,2023-09-04 10:00:00,101.0,Электроника,2.0,30000.0,60000.0
4,2023-09-04 11:40:00,303.0,Продукты,15.0,200.0,3000.0
5,2023-09-05 10:30:00,202.0,Одежда,2.0,5000.0,10000.0
6,2023-09-06 13:15:00,404.0,Бытовая техника,1.0,15000.0,15000.0
7,2023-09-06 17:45:00,303.0,Продукты,10.0,200.0,2000.0
8,2023-09-07 09:00:00,505.0,Канцелярия,30.0,100.0,3000.0
9,2023-09-07 14:20:00,101.0,Электроника,NaN,30000.0,NaN
10,2023-09-08 11:00:00,NaN,NaN,5.0,200.0,1000.0
11,2023-09-08 15:10:00,202.0,Одежда,4.0,5000.0,20000.0
12,2023-09-08 16:45:00,505.0,Канцелярия,15.0,NaN,NaN

In [8]:
merged_table = pd.concat([store_1, store_2, store_3], ignore_index=True)
merged_table

,Date,Item Code,Category,Quantity Sold,Price,Total Sale
0,2023-09-01 10:32:00,101.0,Электроника,2.0,30000.0,60000.0
1,2023-09-01 11:45:00,202.0,Одежда,1.0,5000.0,5000.0
2,2023-09-02 14:20:00,101.0,Электроника,1.0,30000.0,30000.0
3,2023-09-03 13:00:00,303.0,Продукты,10.0,200.0,2000.0
4,2023-09-03 16:50:00,404.0,Бытовая техника,1.0,15000.0,15000.0
5,2023-09-04 12:15:00,202.0,Одежда,3.0,5000.0,15000.0
6,2023-09-04 15:30:00,404.0,Бытовая техника,1.0,15000.0,15000.0
7,2023-09-05 09:00:00,303.0,Продукты,5.0,200.0,1000.0
8,2023-09-06 17:30:00,505.0,Канцелярия,15.0,100.0,1500.0
9,2023-09-06 11:45:00,202.0,Одежда,NaN,5000.0,NaN
10,2023-09-07 12:45:00,101.0,Электроника,2.0,NaN,NaN
11,2023-09-08 14:20:00,303.0,NaN,10.0,200.0,2000.0
12,2023-09-08 16:00:00,NaN,NaN,5.0,5000.0,25000.0
13,2023-09-01 12:10:00,101.0,Электроника,1.0,30000.0,30000.0
14,2023-09-01 13:45:00,202.0,Одежда,2.0,5000.0,10000.0
15,2023-09-02 11:00:00,404.0,Бытовая техника,1.0,15000.0,15000.0
16,2023-09-03 12:50:00,303.0,Продукты,5.0,200.0,1000.0
17,2023-09-03 17:30:00,505.0,Канцелярия,10.0,100.0,1000.0
18,2023-09-04 09:15:00,303.0,Продукты,20.0,200.0,4000.0
19,2023-09-04 13:50:00,101.0,Электроника,1.0,30000.0,30000.0
20,2023-09-05 14:35:00,202.0,Одежда,4.0,5000.0,20000.0
21,2023-09-06 18:20:00,404.0,Бытовая техника,1.0,15000.0,15000.0
22,2023-09-06 10:00:00,505.0,Канцелярия,20.0,NaN,NaN
23,2023-09-07 11:00:00,303.0,Продукты,15.0,200.0,3000.0
24,2023-09-07 14:10:00,404.0,Бытовая техника,1.0,NaN,15000.0
25,2023-09-08 13:00:00,NaN,NaN,10.0,1000.0,10000.0
26,2023-09-01 09:20:00,202.0,Одежда,1.0,5000.0,5000.0
27,2023-09-02 14:15:00,505.0,Канцелярия,20.0,100.0,2000.0
28,2023-09-03 15:50:00,404.0,Бытовая техника,1.0,15000.0,15000.0
29,2023-09-04 10:00:00,101.0,Электроника,2.0,30000.0,60000.0
30,2023-09-04 11:40:00,303.0,Продукты,15.0,200.0,3000.0
31,2023-09-05 10:30:00,202.0,Одежда,2.0,5000.0,10000.0
32,2023-09-06 13:15:00,404.0,Бытовая техника,1.0,15000.0,15000.0
33,2023-09-06 17:45:00,303.0,Продукты,10.0,200.0,2000.0
34,2023-09-07 09:00:00,505.0,Канцелярия,30.0,100.0,3000.0
35,2023-09-07 14:20:00,101.0,Электроника,NaN,30000.0,NaN
36,2023-09-08 11:00:00,NaN,NaN,5.0,200.0,1000.0
37,2023-09-08 15:10:00,202.0,Одежда,4.0,5000.0,20000.0
38,2023-09-08 16:45:00,505.0,Канцелярия,15.0,NaN,NaN

In [9]:
path_log_file = r"log_file.txt"

In [10]:
def process_table(path_log_file):
 global merged_table

 try:
  merged_table.dropna(inplace=True)

  # Запись поврежденных строк в лог-файл
  with open(path_log_file, 'w', encoding='utf-8') as file:
   for index, row in merged_table.iterrows():
    if not row.isnull().any():
      file.write(f"{row.to_string()} \n")

 except Exception as e:
  print(f"Ошибка при обработке таблицы: {e}")

process_table(path_log_file)

In [11]:
merged_table

,Date,Item Code,Category,Quantity Sold,Price,Total Sale
0,2023-09-01 10:32:00,101.0,Электроника,2.0,30000.0,60000.0
1,2023-09-01 11:45:00,202.0,Одежда,1.0,5000.0,5000.0
2,2023-09-02 14:20:00,101.0,Электроника,1.0,30000.0,30000.0
3,2023-09-03 13:00:00,303.0,Продукты,10.0,200.0,2000.0
4,2023-09-03 16:50:00,404.0,Бытовая техника,1.0,15000.0,15000.0
5,2023-09-04 12:15:00,202.0,Одежда,3.0,5000.0,15000.0
6,2023-09-04 15:30:00,404.0,Бытовая техника,1.0,15000.0,15000.0
7,2023-09-05 09:00:00,303.0,Продукты,5.0,200.0,1000.0
8,2023-09-06 17:30:00,505.0,Канцелярия,15.0,100.0,1500.0
13,2023-09-01 12:10:00,101.0,Электроника,1.0,30000.0,30000.0
14,2023-09-01 13:45:00,202.0,Одежда,2.0,5000.0,10000.0
15,2023-09-02 11:00:00,404.0,Бытовая техника,1.0,15000.0,15000.0
16,2023-09-03 12:50:00,303.0,Продукты,5.0,200.0,1000.0
17,2023-09-03 17:30:00,505.0,Канцелярия,10.0,100.0,1000.0
18,2023-09-04 09:15:00,303.0,Продукты,20.0,200.0,4000.0
19,2023-09-04 13:50:00,101.0,Электроника,1.0,30000.0,30000.0
20,2023-09-05 14:35:00,202.0,Одежда,4.0,5000.0,20000.0
21,2023-09-06 18:20:00,404.0,Бытовая техника,1.0,15000.0,15000.0
23,2023-09-07 11:00:00,303.0,Продукты,15.0,200.0,3000.0
26,2023-09-01 09:20:00,202.0,Одежда,1.0,5000.0,5000.0
27,2023-09-02 14:15:00,505.0,Канцелярия,20.0,100.0,2000.0
28,2023-09-03 15:50:00,404.0,Бытовая техника,1.0,15000.0,15000.0
29,2023-09-04 10:00:00,101.0,Электроника,2.0,30000.0,60000.0
30,2023-09-04 11:40:00,303.0,Продукты,15.0,200.0,3000.0
31,2023-09-05 10:30:00,202.0,Одежда,2.0,5000.0,10000.0
32,2023-09-06 13:15:00,404.0,Бытовая техника,1.0,15000.0,15000.0
33,2023-09-06 17:45:00,303.0,Продукты,10.0,200.0,2000.0
34,2023-09-07 09:00:00,505.0,Канцелярия,30.0,100.0,3000.0
37,2023-09-08 15:10:00,202.0,Одежда,4.0,5000.0,20000.0